anyio==3.5.0
asgiref==3.5.0
click==7.1.2
colorama==0.4.4
fastapi==0.75.1
h11==0.13.0
idna==3.3
pydantic==1.9.0
shellingham==1.4.0
sniffio==1.2.0
starlette==0.17.1
typer==0.3.2
typer-cli==0.0.12
typing_extensions==4.1.1
uvicorn==0.17.6
