/* COMMON */
.item-center    { margin-left: auto; margin-right: auto; }
.text-center    { text-align: center; }
.round          { border-radius: .3em; }
.inline-block   { display: inline-block;}
.disabled       { display: none; }


/* TAGS */
#WORDLE {
    width: fit-content;
    cursor: default;
}
header {
    width: fit-content;
    border-bottom: 2px solid #dedede;
    margin: 10px auto; 
    font-size: 35px; 
}
nav {
    margin-bottom: 1em;
}

/* PUZZLE */
#PUZZLE {
    width: fit-content;
    margin: 10px auto;
}
.row { 
    width: fit-content; height: fit-content;
}
.block-word {
    display: inline-block;
    width: 50px; height: 50px; 
    margin: 5px 2px;
    border: 2px solid #666;
    font-size: 30px; 
}

/* VIRTUAL KEYBOARD */
.vr-key {
    display: inline-block;
    background-color: #e5e5e5;
    height: 30px; font-size: 16px; 
    margin: .3em 0em; padding: .8em .5em 0;
    cursor: pointer;
}
.vr-key:hover {
    background-color: #ccc;
}
/* VIRTUAL BUTTONS */
.vr-word        { width: 20px;  }
.vr-btn         { width: 50px; }

/* ANSWER */
.sucs           { color: yellowgreen }
.warn           { color: gold }
.success        { color: white;     background-color: yellowgreen;      border: 2px solid yellowgreen; }
.warning        { color: white;     background-color: gold;             border: 2px solid gold; }
.non-correct    { color: white;     background-color: #ccc;             border: 2px solid #ccc; }


