/* PUZZLE */
#PUZZLE {
    width: fit-content;
    margin: 10px auto;
}
.row { 
    width: fit-content; height: fit-content;
}
.block-word {
    display: inline-block;
    width: 50px; height: 50px; 
    margin: 5px 2px;
    border: 2px solid #666;
    font-size: 30px; 
}

/* ANSWER */
.sucs           { color: yellowgreen }
.warn           { color: gold }
.success        { color: white;     background-color: yellowgreen;      border: 2px solid yellowgreen; }
.warning        { color: white;     background-color: gold;             border: 2px solid gold; }
.non-correct    { color: white;     background-color: #ccc;             border: 2px solid #ccc; }